header {
<<<<<<< HEAD
    background-color: #FF0000;
    height: 70px;
    width: 100%;
=======
	background-color: #FF0000;
	height: 70px;
	width: 100%;
>>>>>>> 43507e0501f99991be97d31a1b224372eab3e69c
}
