header {
<<<<<<< HEAD
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: 20px 50%;
=======
	background-color: white;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: 20px 50%;
>>>>>>> 43507e0501f99991be97d31a1b224372eab3e69c
}
